<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>律师事务所 - 律师名录</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/cn/catalog.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/cn/luntan.css"/>
    <script src="/js/jquery-1.4.2.min.js"></script>
    <script src="/js/jquery-ui-1.8.6.custom.min.js"></script>
    <script src="/js/i18n/jquery.ui.datepicker-zh-CN.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/smoothness/jquery-ui-1.8.6.custom.css"/>
    <link rel="shortcut icon" href="/static/images/cn/logo.ico" type="image/x-icon"/>
    <script type='text/javascript'
            src='https://webchat.7moor.com/javascripts/7moorInit.js?accessId=27c252a0-c0aa-11e8-a90d-9d1e547c2986&autoShow=false&language=ZHCN'
            async='async'>
    </script>
</head>
<body>
<div class="container">
    <div class="header">
        <div class="top">
            <div class="date" id="localtime">
                <script type="text/javascript">
                    function showLocale(todayTime) {
                        var yy = todayTime.getYear();
                        if (yy < 1900) yy = yy + 1900;
                        var MM = todayTime.getMonth() + 1;
                        var dd = todayTime.getDate();
                        var hh = todayTime.getHours();
                        if (hh < 10) hh = '0' + hh;
                        var amOrPm = "上午";
                        if (hh > 11) amOrPm = "下午";
                        if (hh > 12) hh = hh - 12;
                        if (hh == 0) hh = 12;
                        var mm = todayTime.getMinutes();
                        if (mm < 10) mm = '0' + mm;
                        var ss = todayTime.getSeconds();
                        if (ss < 10) ss = '0' + ss;
                        var ww = todayTime.getDay();

                        if (ww == 0) ww = "星期日";
                        if (ww == 1) ww = "星期一";
                        if (ww == 2) ww = "星期二";
                        if (ww == 3) ww = "星期三";
                        if (ww == 4) ww = "星期四";
                        if (ww == 5) ww = "星期五";
                        if (ww == 6) ww = "星期六";

                        str = yy + "年" + MM + "月" + dd + "日" + "　" + amOrPm + hh + ":" + mm + ":" + ss + "　" + ww;
                        return (str);
                    }

                    function tick() {
                        var today;
                        today = new Date();
                        document.getElementById("localtime").innerHTML = showLocale(today);
                        window.setTimeout("tick()", 1000);
                    }

                    tick();
                </script>
            </div>

            <div class="login">
                <script>
                    var $openidServer = 'http://passport.szlawyers.com';
                    var $returnUrl = "http://www.szlawyers.com:80/j_spring_security_check?openid_identifier=http://passport.szlawyers.com/openid&select=allow";
                </script>
                <div style="color:#ccc;padding-left:15px;">
                    <form method="post" action="http://passport.szlawyers.com/openid/website-login.jsp"
                          onsubmit="return true;" id="loginform">
                        <table width="" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>用户名：</td>
                                <td><input name="j_username" id="login-id" type="text" class="inp" value=""></td>
                                <td>密码：</td>
                                <td><input name="j_password" id="login-pwd" type="password" class="inp"></td>
                                <td><input alt="login" id="searchSubmit" src="/static/images/cn/btn_login.gif"
                                           type="image" class="logbtn"></td>
                                <td>
                                    <a href="javascript:showQrImg();"
                                       style="color:red;padding: 0 10px 0 5px;">手机扫码登录</a>
                                    <div class="modal fade m-qrimg" id="Qrimg" backdrop="true" tabindex="-1"
                                         aria-hidden="true" style="display:none;">
                                        <h4 class="modal-title">手机扫码登录</h4>
                                        <a class="close" data-dismiss="modal" href="javascript:hideQrImg();">&times;</a>
                                        <div class="modal-content">
                                            <iframe id="qrframe" style="width:320px;height:360px;border:0px;"
                                                    frameborder=no border=0 src="about:blank"></iframe>
                                        </div>
                                    </div>
                                    <script>
                                        function showQrImg() {
                                            $('#qrframe').attr("src", "http://passport.szlawyers.com/qrcode-shenzhen.jsp?time=" + new Date().getTime());
                                            $('#Qrimg').show();
                                        }

                                        function hideQrImg() {
                                            $('#qrframe').attr("src", "about:blank");
                                            $('#Qrimg').hide();
                                        }
                                    </script>
                                    <a style="padding:0 5px" href="http://passport.szlawyers.com/notice.jsp"
                                       target="_blank"><u>登录须知</u></a>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
                <script type="text/javascript" src="/js/jsencrypt.min.js"></script>
                <script type="text/javascript" src="/js/pbkdf2.js"></script>
                <script type="text/javascript" src="/js/aes.js"></script>
                <script type="text/javascript" src="/js/encrypt.js.jsp"></script>
                <script>
                    $(function () {
                        $('#loginform').submit(function () {
                            debugger;
                            var username = $('#login-id').val();
                            var pass = $('#login-pwd').val();
                            if (username == '' || pass == '') {
                                alert('请输入用户名,密码.');
                                return false;
                            }
                            var encryptedPass = keyEncrypt(pass);
                            $('#login-pwd').val(encryptedPass);
                            return true;
                        });
                    });
                </script>
            </div>

            <div class="qlink">
                <a style="margin: 0 5px;" href="http://mail.szlawyers.com" target="_blank">邮箱登录</a> |
                <a style="    margin: 0 5px;" href="/wztg" target="_blank">我要投稿</a> |
                <a style="    margin: 0 5px;" href="/aboutus/secretariat" target="_blank">联系我们</a> |
                <a style="    margin: 0 5px;" href="/en/">English</a>
            </div>
        </div>
        <div class="clear"></div>
        <div class="logo">
            <a href="/"><img
                        src="http://szlawyer.lsxh.homolo.net/file/upload/20130822/image/20130822104829_fd1017425301451ea812319a34ab77de.jpg"
                        border=0/></a>
        </div>
        <div class="nav">
            <ul>
                <li><a href="/">首　　页</a></li>
                <li><a href="/aboutus">律协简介</a></li>
                <li><a href="/notices">通知公告</a></li>
                <li><a href="/research">业务研究</a></li>
                <li><a href="/lawyernews">会员风采</a></li>
                <li><a href="/lms">律师管理</a></li>
                <li><a href="/training">律师培训</a></li>
                <li><a href="/lawyer-list">律师名录</a></li>
                <li><a href="/bbs">律师论坛</a></li>
                <li><a href="/71c5a81051e84e9c9483da6e780db87b">律师学院</a></li>
                <li><a href="/party" target="_blank">律师党建</a></li>
                <li><a href="/news">律协动态</a></li>
                <li><a href="/lawnews">法律资讯</a></li>
                <li><a href="/integrity">诚信信息</a></li>
                <li><a href="http://www.szlawyers.com/aboutus/rules" target="_blank">行业规章</a></li>
                <li><a href="/plugins/bdfb-lnk.jsp" target="_blank">法律检索</a></li>
                <li><a href="/recruitment">人才交流</a></li>
                <li><a href="/consult">在线咨询</a></li>
            </ul>

            <script src="/static/js/login_box/jquery.login.js" type="text/javascript"></script>
            <div id="bg"
                 style="background-color:#666;position:absolute;z-index:99;left:0;top:0;display:none;width:100%;height:100%;opacity:0.5;filter: alpha(opacity=50);-moz-opacity: 0.5;"></div>
            <div id="_tanchuang"
                 style="position:absolute;z-index:20000;width:600px;height:300px;display:none;font-size:12px;background-image:url(/static/images/cn/bj_bdfb.jpg)">
                <div style="height:50px;">
                    <a id="close" href="javascript:void(0)" title="关闭" tabindex="9"
                       style="float:right;outline:none;*hide-focus:expression(this.hideFocus=true);"><img
                                src="/static/images/cn/btn_close.gif"</a>
                </div>
                <div style="height:200px" margin-top:100px;>
                    <a href="/plugins/bdfb-lnk.jsp">
                        <div style="padding: 70px 0px 50px 70px;float:left;">
                            <img src="/static/images/cn/btn_bdfb.jpg">
                        </div>
                    </a>

                    <a id="xialadan">
                        <div style="padding: 70px 70px 50px 0px;float:right;">
                            <img src="/static/images/cn/btn_zgzw.jpg">
                        </div>
                    </a>
                </div>
            </div>
            <script type="text/javascript">
                $(function () {
                    $("#tanchuang").click(function () {
                        $("#bg").css({
                            display: "block", height: $(document).height()
                        });
                        var $box = $('#_tanchuang');
                        $box.css({
                            //设置弹出层距离左边的位置
                            left: ($("body").width() - $box.width()) / 2 - 20 + "px",
                            //设置弹出层距离上面的位置
                            top: ($(window).height() - $box.height()) / 2 + $(window).scrollTop() + "px",
                            display: "block"
                        });
                    });
                    //点击关闭按钮的时候，遮罩层关闭
                    $("#close").click(function () {
                        $("#bg,#_tanchuang").css("display", "none");
                    });
                });


            </script>

            <table border='0'>
                <form name="loginform" method=post action="">
                    <tr>
                        <td>
                            <input type="hidden" name="username" value="szlawyers">
                            <input type="hidden" name="password" value="szlsxh">
                        </td>
                    </tr>
                </form>
            </table>

            <script type="text/javascript">
                $("#xialadan").click(function () {
                    var myhost = "http://epub.cnki.net/kns";
                    autosubmit(document.loginform);

                    function autosubmit(obj) {
                        debugger;
                        var user = obj.username.value;
                        var pass = obj.password.value;
                        obj.action = myhost + "/loginid.aspx?p=" + encodeURI("http://law.cnki.net/szlsxh/");
                        obj.submit();
                    }
                })
            </script>
        </div>
        <div class="clear"></div>
    </div>

    <div class="banner">
        <a href="http://www.szlawyers.com/file/upload/20191212/image/20191212091237_43c8b5aa3e224eedb2b39ea3271818ba.png"
           target="_blank"><img src="/file/upload/20191015/image/20191015132021_0f6286fde2a3428d9811880453be82e6.jpg"
                                alt=""/></a>
    </div>

    <div class="mainboxs">
        <div class="leftboxs">


            <div class="box gaoji">
                <div class="top">高级检索</div>
                <div class="content">
                    <form action="http://www.szlawyers.com/searchLawFirm">
                        <span>事务所名称：</span>
                        <input name="name" type="text" class="input3" size="20" maxlength="30" value="">
                        <span>统一社会信用代码：</span>
                        <input name="creditCode" type="text" class="input3" size="20" maxlength="30" value="">
                        <span>所属区县：</span>
                        <select name="justiceBureauId" class="input3">
                            <option value="">请选择所属区县</option>

                            <option value="79d3c52d7faa426bb2dbb806eb4bd71f">深圳市</option>

                            <option value="60ad170469594cb68d8d496f54a5c43c">罗湖区</option>

                            <option value="e35767083a954dbeaef0df6a7e475eb9">福田区</option>

                            <option value="bc7a1699b48745338363df6206864945">南山区</option>

                            <option value="0858717af6c949c9b24d1d22eb0de59d">龙岗区</option>

                            <option value="f5ac32e6cf4b4502a7c29370c904b49f">盐田区</option>

                            <option value="54d1fc8e5ee84a2094d9a897e708ded7">宝安区</option>

                            <option value="0ff4fe6feb2f462aa795cce81d2d934f">光明区</option>

                            <option value="a342cc8916154db190cc89749a01fd27">坪山区</option>

                            <option value="227a4c3c8c0d4b5fb027883ba90fa183">大鹏新区</option>

                            <option value="b1a6d5419a124e0f979e8e9a88af668f">龙华区</option>

                            <option value="d759f5d88fa6435cad37dd82885f68ef">前海区</option>

                        </select>
                        <span>办公地点：</span>
                        <select name="officeZone" class="input3">
                            <option value="">请选择办公地点</option>

                        </select>
                        <span>设立时间，由：</span>
                        <input name="beginPracticeLicenseDate" id="_beginPracticeLicenseDate" type="text" class="input3"
                               size="20" maxlength="20" value="">

                        <span>到：</span>
                        <input name="endPracticeLicenseDate" id="_endPracticeLicenseDate" type="text" class="input3"
                               size="20" maxlength="20" value="">
                        <span>组织形式</span>
                        <select name="lawFirmType" class="input3">
                            <option value="">请选择组织形式</option>

                            <option value="592f86a85a9b4b3d98e24db19f3ae93b">普通合伙</option>

                            <option value="235bbe7b44ea4eb381e816e7436f8afa">个人</option>

                        </select>
                        <span>律师人数</span>
                        <select name="scale" class="input3">

                            <option value="">请选择律所规模</option>
                            <option value="0" selected>10人以下</option>
                            <option value="10">10-20人</option>
                            <option value="20">20-30人</option>
                            <option value="30">30-50人</option>
                            <option value="50">50-100人</option>
                            <option value="100">100人以上</option>
                        </select>
                        <div class="tijiao">
                            <input alt="login" src="/static/images/cn/btn_search3.gif" type="image" class="btn"/>
                        </div>
                    </form>
                </div>
            </div>
            <script>
                $(document).ready(function () {
                    $("#_beginPracticeLicenseDate").datepicker({
                        changeYear: true,
                        minDate: '-100y',
                        dateFormat: 'yy-mm-dd',
                        monthNames: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
                    });
                    $("#_endPracticeLicenseDate").datepicker({
                        changeYear: true,
                        minDate: '-100y',
                        dateFormat: 'yy-mm-dd',
                        monthNames: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
                    });
                });
            </script>
        </div>

        <div class="rightboxs">
            <div class="location">

                您现在所处的位置：
                <a href="/">首页</a>
                <a href="/lawyer-list"> > 律师名录</a>
                <a href="/lawyer-list/search-lawfirm"> > 律师事务所</a>
            </div>
            <div class="list">


                <table class="tab_list" width="96%" cellspacing="1" cellpadding="4" align="center" bgcolor="#fff"
                       border="0">
                    <tbody>
                    <tr bgcolor="#666666" nowrap="">
                        <td width="35%" height="30" align="center"><font color="#ffffff"><b>律所名称</b></font></td>
                        <td width="15%" align="center"><font color="#ffffff"><strong>设立时间</strong></font></td>
                        <td width="10%" align="center"><font color="#ffffff"><strong>负责人</strong></font></td>
                        <td width="15%" align="center"><font color="#ffffff"><strong>律师人数</strong></font></td>
                        <td width="25%" height="25" align="center" nowrap=""><font color="#ffffff"><strong>联系电话</strong></font>
                        </td>
                    </tr>

                    <tr bgcolor="#f0f0f0">
                        <td height="30" style="text-align:center">

                            <a clss="link" href="/lawfirm/a77a4cbf8f9c4261be8fc2c946ad9913" target="_blank">北京倡衡（深圳）律师事务所</a>

                        </td>
                        <td style="text-align:center">
                            2017年5月
                        </td>
                        <td style="text-align:center">谢新生</td>
                        <td style="text-align:center">2名</td>
                        <td align="center">18210385785</td>
                    </tr>


                    <tr bgcolor="#f0f0f0">
                        <td height="30" style="text-align:center">

                            <a clss="link" href="/lawfirm/40159e32cf2948c59c5628392cbef8d4" target="_blank">北京海润天睿（深圳）律师事务所</a>

                        </td>
                        <td style="text-align:center">
                            2018年12月
                        </td>
                        <td style="text-align:center">唐申秋</td>
                        <td style="text-align:center">9名</td>
                        <td align="center"></td>
                    </tr>


                    <tr bgcolor="#f0f0f0">
                        <td height="30" style="text-align:center">

                            <a clss="link" href="/lawfirm/1ac76c7fe298408d8ba1345fbbea0171" target="_blank">北京恒都（深圳）律师事务所</a>

                        </td>
                        <td style="text-align:center">
                            2017年8月
                        </td>
                        <td style="text-align:center">揭立霞</td>
                        <td style="text-align:center">4名</td>
                        <td align="center">29330009</td>
                    </tr>


                    <tr bgcolor="#f0f0f0">
                        <td height="30" style="text-align:center">

                            <a clss="link" href="/lawfirm/c4ebc36fe6ef4a24b02c1bc04a784241" target="_blank">北京华税（深圳）律师事务所</a>

                        </td>
                        <td style="text-align:center">
                            2017年12月
                        </td>
                        <td style="text-align:center">林敏</td>
                        <td style="text-align:center">3名</td>
                        <td align="center">23801666</td>
                    </tr>


                    <tr bgcolor="#f0f0f0">
                        <td height="30" style="text-align:center">

                            <a clss="link" href="/lawfirm/072028b264644eb282672c816f4628a0" target="_blank">北京市奋迅（深圳）律师事务所</a>

                        </td>
                        <td style="text-align:center">
                            2019年11月
                        </td>
                        <td style="text-align:center">张婷</td>
                        <td style="text-align:center">0名</td>
                        <td align="center">13651165548</td>
                    </tr>


                    <tr bgcolor="#f0f0f0">
                        <td height="30" style="text-align:center">

                            <a clss="link" href="/lawfirm/65d840f6d45341c5913628e4b9665797" target="_blank">北京市海问（深圳）律师事务所</a>

                        </td>
                        <td style="text-align:center">
                            2015年12月
                        </td>
                        <td style="text-align:center">李丽萍</td>
                        <td style="text-align:center">8名</td>
                        <td align="center">0755-83236000</td>
                    </tr>


                    <tr bgcolor="#f0f0f0">
                        <td height="30" style="text-align:center">

                            <a clss="link" href="/lawfirm/7855f700acc14133a6235d82a7359ffa" target="_blank">北京市华泰（深圳）律师事务所</a>

                        </td>
                        <td style="text-align:center">
                            2015年1月
                        </td>
                        <td style="text-align:center">杨玲儿</td>
                        <td style="text-align:center">3名</td>
                        <td align="center">0755-89985789</td>
                    </tr>


                    <tr bgcolor="#f0f0f0">
                        <td height="30" style="text-align:center">

                            <a clss="link" href="/lawfirm/a53d4deda59f429abf769a28de0a880f" target="_blank">北京市惠诚（深圳）律师事务所</a>

                        </td>
                        <td style="text-align:center">
                            2010年6月
                        </td>
                        <td style="text-align:center">李万民</td>
                        <td style="text-align:center">5名</td>
                        <td align="center">82708612</td>
                    </tr>


                    <tr bgcolor="#f0f0f0">
                        <td height="30" style="text-align:center">

                            <a clss="link" href="/lawfirm/206d32d14b3b436a8a3bc523b0422368" target="_blank">北京市君致（深圳）律师事务所</a>

                        </td>
                        <td style="text-align:center">
                            2017年8月
                        </td>
                        <td style="text-align:center">陈栋强</td>
                        <td style="text-align:center">3名</td>
                        <td align="center">075583365853</td>
                    </tr>


                    <tr bgcolor="#f0f0f0">
                        <td height="30" style="text-align:center">

                            <a clss="link" href="/lawfirm/435113b8043a413c994240b551a6ffe2" target="_blank">北京市柯杰（深圳）律师事务所</a>

                        </td>
                        <td style="text-align:center">
                            2018年4月
                        </td>
                        <td style="text-align:center">高源</td>
                        <td style="text-align:center">3名</td>
                        <td align="center"></td>
                    </tr>


                    <tr bgcolor="#f0f0f0">
                        <td height="30" style="text-align:center">

                            <a clss="link" href="/lawfirm/215d6b8a923649b8b2c6b1947f96fee0" target="_blank">北京市立方（深圳）律师事务所</a>

                        </td>
                        <td style="text-align:center">
                            2018年11月
                        </td>
                        <td style="text-align:center">宫智民</td>
                        <td style="text-align:center">4名</td>
                        <td align="center"></td>
                    </tr>


                    <tr bgcolor="#f0f0f0">
                        <td height="30" style="text-align:center">

                            <a clss="link" href="/lawfirm/2e424a19614a47b0a330d8a2e0fca715" target="_blank">北京市仁人德赛（深圳）律师事务所</a>

                        </td>
                        <td style="text-align:center">
                            2013年8月
                        </td>
                        <td style="text-align:center">徐凡罡</td>
                        <td style="text-align:center">9名</td>
                        <td align="center">0755-83118039</td>
                    </tr>


                    <tr bgcolor="#f0f0f0">
                        <td height="30" style="text-align:center">

                            <a clss="link" href="/lawfirm/3f839898269e4e04876ac70f5bfff7e5" target="_blank">北京市时代九和（深圳）律师事务所</a>

                        </td>
                        <td style="text-align:center">
                            2012年11月
                        </td>
                        <td style="text-align:center">吕露兰</td>
                        <td style="text-align:center">1名</td>
                        <td align="center">075533335933</td>
                    </tr>


                    <tr bgcolor="#f0f0f0">
                        <td height="30" style="text-align:center">

                            <a clss="link" href="/lawfirm/7365a1f9760f406a98c142e2828c165b" target="_blank">北京市信利（深圳）律师事务所</a>

                        </td>
                        <td style="text-align:center">
                            2002年12月
                        </td>
                        <td style="text-align:center">姚远</td>
                        <td style="text-align:center">5名</td>
                        <td align="center">22208418</td>
                    </tr>


                    <tr bgcolor="#f0f0f0">
                        <td height="30" style="text-align:center">

                            <a clss="link" href="/lawfirm/560ac0560888453a9f9892b539580e54" target="_blank">北京市岳成（深圳）律师事务所</a>

                        </td>
                        <td style="text-align:center">
                            2017年11月
                        </td>
                        <td style="text-align:center">李岩</td>
                        <td style="text-align:center">3名</td>
                        <td align="center">18923488210</td>
                    </tr>


                    <tr bgcolor="#f0f0f0">
                        <td height="30" style="text-align:center">

                            <a clss="link" href="/lawfirm/ff77d3e98e61471092d6af5db10c3710" target="_blank">北京市雨仁（深圳）律师事务所</a>

                        </td>
                        <td style="text-align:center">
                            2018年4月
                        </td>
                        <td style="text-align:center">张烨</td>
                        <td style="text-align:center">4名</td>
                        <td align="center">18165725457</td>
                    </tr>


                    <tr bgcolor="#f0f0f0">
                        <td height="30" style="text-align:center">

                            <a clss="link" href="/lawfirm/9918f5ee9910421f9d524e56dfa6a860" target="_blank">北京市铸成（深圳）律师事务所</a>

                        </td>
                        <td style="text-align:center">
                            2017年7月
                        </td>
                        <td style="text-align:center">吴萍</td>
                        <td style="text-align:center">6名</td>
                        <td align="center">18589083595</td>
                    </tr>


                    <tr bgcolor="#f0f0f0">
                        <td height="30" style="text-align:center">

                            <a clss="link" href="/lawfirm/a94bf6baf1f947faa1c7a729f66056b6" target="_blank">诚公顾叶（前海）联营律师事务所</a>

                        </td>
                        <td style="text-align:center">
                            2014年11月
                        </td>
                        <td style="text-align:center">郑涛</td>
                        <td style="text-align:center">7名</td>
                        <td align="center">88022288</td>
                    </tr>


                    <tr bgcolor="#f0f0f0">
                        <td height="30" style="text-align:center">

                            <a clss="link" href="/lawfirm/fa75e53484144ca1a892a1f257cc5654" target="_blank">德和衡赖文俊（前海）联营律师事务所</a>

                        </td>
                        <td style="text-align:center">
                            2016年12月
                        </td>
                        <td style="text-align:center">黄敏</td>
                        <td style="text-align:center">3名</td>
                        <td align="center">0755-33209369</td>
                    </tr>


                    <tr bgcolor="#f0f0f0">
                        <td height="30" style="text-align:center">

                            <a clss="link" href="/lawfirm/3a780f8bae45496d85d9b19ba36d8574" target="_blank">福建天凯（深圳）律师事务所</a>

                        </td>
                        <td style="text-align:center">
                            2017年8月
                        </td>
                        <td style="text-align:center">苏清枝</td>
                        <td style="text-align:center">2名</td>
                        <td align="center">075582533735</td>
                    </tr>


                    <tr bgcolor="#f0f0f0">
                        <td colspan=6 style="border-left:0px;border-bottom:0px;border-right:0px;">
                            注：排序不分先后，按事务所名称拼音字母排序
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="page">
                    共587 条，
                    <a href="?name=&creditCode=&justiceBureauId=&beginPracticeLicenseDate=&endPracticeLicenseDate=&lawFirmType=&scale=0&page=1"
                       class="active">1</a><a
                            href="?name=&creditCode=&justiceBureauId=&beginPracticeLicenseDate=&endPracticeLicenseDate=&lawFirmType=&scale=0&page=2">2</a><a
                            href="?name=&creditCode=&justiceBureauId=&beginPracticeLicenseDate=&endPracticeLicenseDate=&lawFirmType=&scale=0&page=3">3</a><a
                            href="#">...</a><a
                            href="?name=&creditCode=&justiceBureauId=&beginPracticeLicenseDate=&endPracticeLicenseDate=&lawFirmType=&scale=0&page=29">29</a><a
                            href="?name=&creditCode=&justiceBureauId=&beginPracticeLicenseDate=&endPracticeLicenseDate=&lawFirmType=&scale=0&page=30">30</a>
                    <a href="?name=&creditCode=&justiceBureauId=&beginPracticeLicenseDate=&endPracticeLicenseDate=&lawFirmType=&scale=0&page=2">下一页</a>
                </div>

            </div>
        </div>

        <div class="clear"></div>
    </div>

    <div class="youqing">
        <ul class="m-link clearfix">

            <li class="m-link-item z-hover">
                <a href="javascript:;" class="top">行业协会网站</a>
                <div class="m-dropdown clearfix">
                    <ul>
                        <li><a href="http://www.gdla.org.cn/" target="_blank">广东律师网</a></li>
                        <li><a href="http://www.lawyers.org.cn/" target="_blank">东方律师网</a></li>
                        <li><a href="http://www.xblaw.com/" target="_blank">重庆市律网</a></li>
                        <li><a href="https://beijinglawyers.org.cn/" target="_blank">北京律师网</a></li>
                        <li><a href="http://www.acla.org.cn/" target="_blank">中国律师网</a></li>
                        <li><a href="http://www.gzlawyer.org/" target="_blank">广州律师网</a></li>
                        <li><a href="http://www.zhlawyers.cn/" target="_blank">珠海律师网</a></li>
                        <li><a href="http://www.dglawyer.cn/" target="_blank">东莞律师网</a></li>
                        <li><a href="http://www.zsnews.cn/zt/zslx/" target="_blank">中山律师网</a></li>
                        <li><a href="http://www.xmls.cn/" target="_blank">厦门律师网</a></li>
                        <li><a href="http://www.china-lawfirm.com/" target="_blank">天津律师网</a></li>
                        <li><a href="http://www.xblaw.com/" target="_blank">西部律师网</a></li>
                        <li><a href="http://www.hnlx.org.cn/" target="_blank">湖南律师网</a></li>
                        <li><a href="http://www.zjbar.com/" target="_blank">浙江律师网</a></li>
                        <li><a href="http://www.ctlawyer.cn/" target="_blank">湖北律师网</a></li>
                        <li><a href="http://www.sdlawyer.org.cn/" target="_blank">山东律师网</a></li>
                        <li><a href="http://www.sxlsw.org/" target="_blank">山西律师网</a></li>
                        <li><a href="http://www.fjlawyers.net/" target="_blank">福建律师网</a></li>
                        <li><a href="http://www.ahlawyer.com.cn/" target="_blank">安徽律师网</a></li>
                        <li><a href="http://www.jllawyer.com/" target="_blank">吉林律师网</a></li>
                        <li><a href="http://www.gslawyer.com/www/default.asp" target="_blank">甘肃律师网</a></li>
                        <li><a href="http://www.hklawsoc.org.hk/pub_e/default.asp" target="_blank">香港律师网</a></li>
                        <li><a href="" target="_blank">江苏律师网</a></li>
                        <li><a href="http://www.aam.org.mo/" target="_blank">澳门律师网</a></li>
                    </ul>
                </div>
            </li>

            <li class="m-link-item z-hover">
                <a href="javascript:;" class="top">专业法律网站</a>
                <div class="m-dropdown clearfix">
                    <ul>
                        <li><a href="http://openlaw.cn/" target="_blank">OpenLaw裁判文书检索</a></li>
                        <li><a href="http://www.148com.com/" target="_blank">中律网</a></li>
                        <li><a href="http://www.51lawfirm.com" target="_blank">天下同音有限公司</a></li>
                        <li><a href="http://www.laodongfa.com/" target="_blank">劳动法苑网</a></li>
                        <li><a href="http://www.sccietac.org/" target="_blank">华南国仲</a></li>
                        <li><a href="http://lawyer.ruc.edu.cn/" target="_blank">人民大学律师学院</a></li>
                        <li><a href="http://www.giltbridge.com/" target="_blank">好博译翻译公司</a></li>
                        <li><a href="http://www.szac.org/" target="_blank">深圳市仲裁委</a></li>
                        <li><a href="http://www.law-lib.com/" target="_blank">法律图书馆</a></li>
                        <li><a href="http://www.legalbusinessonline.com/china" target="_blank">Asian Legal Business</a>
                        </li>
                        <li><a href="http://www.lawbase.com.cn/" target="_blank">中国法律资源网</a></li>
                        <li><a href="http://www.cnki.net/" target="_blank">中国知网</a></li>
                        <li><a href="http://www.chinacourt.org/index.shtml" target="_blank">中国法院网</a></li>
                        <li><a href="http://law.npc.gov.cn/FLFG/index.jsp" target="_blank">中国法律法规信息系统</a></li>
                        <li><a href="http://www.court.gov.cn/zgcpwsw/" target="_blank">中国裁判文书网</a></li>
                        <li><a href="http://www.court.gov.cn/zgcpwsw/" target="_blank">中国审判流程信息公开网</a></li>
                        <li><a href="http://www.court.gov.cn/tsg/" target="_blank">最高人民法院图书馆</a></li>
                        <li><a href="http://www.court.gov.cn/zscq/" target="_blank">人民法院知识产权审判网</a></li>
                        <li><a href="http://www.ipr.gov.cn/" target="_blank">中国保护知识产权网</a></li>
                        <li><a href="http://www.dffyw.com/" target="_blank">东方法眼网</a></li>
                        <li><a href="http://www.lawbank.com.tw/" target="_blank">法源法律网</a></li>
                    </ul>
                </div>
            </li>

            <li class="m-link-item z-hover">
                <a href="javascript:;" class="top">司法机关网站</a>
                <div class="m-dropdown clearfix">
                    <ul>
                        <li><a href="http://www.court.gov.cn/" target="_blank">最高人民法院</a></li>
                        <li><a href="http://www.spp.gov.cn" target="_blank">最高人民检察院</a></li>
                        <li><a href="http://www.zgjiancha.com" target="_blank">中国检察网</a></li>
                        <li><a href="http://www.gdcourts.gov.cn" target="_blank">广东省高级法院</a></li>
                        <li><a href="http://www.szcourt.gov.cn" target="_blank">深圳市中级人民法院</a></li>
                        <li><a href="http://www.gd.jcy.gov.cn" target="_blank">广东省人民检察院</a></li>
                        <li><a href="http://www.shenzhen.jcy.gov.cn" target="_blank">深圳市检察院</a></li>
                        <li><a href="http://www.ftcourt.gov.cn/" target="_blank">福田区人民法院</a></li>
                        <li><a href="http://www.szlhfy.gov.cn" target="_blank">罗湖区人民法院</a></li>
                        <li><a href="http://nsqfy.chinacourt.org" target="_blank">南山区人民法院</a></li>
                        <li><a href="http://www.shenpan.gov.cn/" target="_blank">盐田区人民法院</a></li>
                        <li><a href="http://www.fy.lg.gov.cn" target="_blank">龙岗区人民法院</a></li>
                        <li><a href="http://www.bafy.gov.cn/" target="_blank">宝安区人民法院</a></li>
                        <li><a href="" target="_blank">宝安区人民检察院</a></li>
                        <li><a href="http://www.jc.gov.cn" target="_blank">盐田区人民检察院</a></li>
                        <li><a href="http://nsqfy.chinacourt.org/" target="_blank">南山区人民检察院</a></li>
                        <li><a href="http://szlhqfy.chinacourt.org/index.shtml" target="_blank">罗湖区人民检察院</a></li>
                        <li><a href="http://ftjcy.szft.gov.cn" target="_blank">福田区人民检察院</a></li>
                        <li><a href="http://www.rmjcy.lg.gov.cn" target="_blank">龙岗区人民检察院</a></li>
                    </ul>
                </div>
            </li>

            <li class="m-link-item z-hover">
                <a href="javascript:;" class="top">政府部门网站</a>
                <div class="m-dropdown clearfix">
                    <ul>
                        <li><a href="http://www.gov.cn/" target="_blank">中央人民政府</a></li>
                        <li><a href="http://www.moj.gov.cn/" target="_blank">中华人民共和国司法部</a></li>
                        <li><a href="http://www.mps.gov.cn" target="_blank">中华人民共和国公安部</a></li>
                        <li><a href="http://www.gdsf.gov.cn/" target="_blank">广东司法厅</a></li>
                        <li><a href="http://www.szcourt.gov.cn/" target="_blank">深圳市中级人民法院</a></li>
                        <li><a href="http://www.szpb.gov.cn/" target="_blank">深圳市发展改革委员会</a></li>
                        <li><a href="http://www.szfb.gov.cn/" target="_blank">深圳市财政委员会</a></li>
                        <li><a href="http://www.szhec.gov.cn/" target="_blank">深圳市人居环境委员会</a></li>
                        <li><a href="http://www.sztb.gov.cn" target="_blank">深圳市交通运输委员会</a></li>
                        <li><a href="http://www.szdaj.gov.cn/" target="_blank">深圳市档案局</a></li>
                        <li><a href="http://www.szeb.edu.cn/" target="_blank">深圳市教育局</a></li>
                        <li><a href="http://www.szga.gov.cn/" target="_blank">深圳市公安局</a></li>
                        <li><a href="http://www.szmz.sz.gov.cn/" target="_blank">深圳市民政局</a></li>
                        <li><a href="http://sf.sz.gov.cn/" target="_blank">深圳市司法局</a></li>
                        <li><a href="http://www.szum.gov.cn/" target="_blank">深圳市城市管理局</a></li>
                        <li><a href="http://www.szwtl.gov.cn/" target="_blank">深圳市文体旅游局</a></li>
                        <li><a href="http://www.szaudit.gov.cn/" target="_blank">深圳市审计局</a></li>
                        <li><a href="http://www.sztj.gov.cn/" target="_blank">深圳市统计局</a></li>
                        <li><a href="http://www.szjs.gov.cn/" target="_blank">深圳市住房和建设局</a></li>
                        <li><a href="http://www.szwrb.gov.cn/" target="_blank">深圳市水务局</a></li>
                        <li><a href="http://www.szds.gov.cn/" target="_blank">深圳市地方税务局</a></li>
                        <li><a href="http://www.szqh.gov.cn/" target="_blank">前海管理局</a></li>
                        <li><a href="http://www.npc.gov.cn/" target="_blank">中国人大网</a></li>
                        <li><a href="http://www.szrd.gov.cn/" target="_blank">深圳市人大</a></li>
                        <li><a href="http://www.sz.gov.cn/cn/" target="_blank">深圳市政府</a></li>
                        <li><a href="http://www.szzgh.org/" target="_blank">深圳市总工会</a></li>
                    </ul>
                </div>
            </li>

            <li class="m-link-item z-hover">
                <a href="javascript:;" class="top">新闻媒体网站</a>
                <div class="m-dropdown clearfix">
                    <ul>
                        <li><a href="http://www.xinhuanet.com/" target="_blank">新华网</a></li>
                        <li><a href="http://www.legaldaily.com.cn/" target="_blank">法制网</a></li>
                        <li><a href="http://www.jcrb.com/" target="_blank">正义网</a></li>
                        <li><a href="http://www.legalweekly.cn/" target="_blank">法治周末</a></li>
                        <li><a href="http://www.legalinfo.gov.cn/" target="_blank">中国普法网</a></li>
                        <li><a href="http://www.mzyfz.com/" target="_blank">民主与法制网</a></li>
                        <li><a href="http://www.fzgd.org/" target="_blank">法治广东网</a></li>
                        <li><a href="http://www.szfzw.org/index.htm" target="_blank">法治深圳网</a></li>
                    </ul>
                </div>
            </li>
        </ul>

        <script type="text/javascript">
            (function ($) {
                $.fn.dropdown = function (settings) {
                    var defaults = {
                        dropdownEl: '.dropdown-menu',
                        openedClass: 'dropdown-open',
                        delayTime: 100
                    }
                    var opts = $.extend(defaults, settings);
                    return this.each(function () {
                        var curObj = null;
                        var preObj = null;
                        var openedTimer = null;
                        var closedTimer = null;
                        $(this).hover(function () {
                            if (openedTimer)
                                clearTimeout(openedTimer);
                            curObj = $(this);
                            openedTimer = setTimeout(function () {
                                curObj.addClass(opts.openedClass).find(opts.dropdownEl).show();
                            }, opts.delayTime);
                            preObj = curObj;
                        }, function () {
                            if (openedTimer)
                                clearTimeout(openedTimer);
                            openedTimer = setTimeout(function () {
                                preObj.removeClass(opts.openedClass).find(opts.dropdownEl).hide();
                            }, opts.delayTime);
                        });
                        //点击事件关闭菜单
                        $(this).bind('click', function () {
                            if (openedTimer)
                                clearTimeout(openedTimer);
                            openedTimer = setTimeout(function () {
                                preObj.removeClass(opts.openedClass).find(opts.dropdownEl).hide();
                            }, opts.delayTime);
                        });
                    });
                };
            })(jQuery);

            //下拉菜单
            $(document).ready(function () {
                $('.m-link .m-link-item').dropdown({
                    dropdownEl: '.m-dropdown',
                    openedClass: 'hover'
                });
            });
        </script>
    </div>

    <div class="footer">
        <script type='text/javascript'
                src='https://webchat.7moor.com/javascripts/7moorInit.js?accessId=27c252a0-c0aa-11e8-a90d-9d1e547c2986&autoShow=false&language=ZHCN'
                async='async'></script>
        <div class="wechat" style="margin: 0px 0px 0 160px;">
            <a href="javascript:void(0);" onclick="qimoChatClick();"><img src="/static/images/QQ.jpg" width="80"
                                                                          border="0" class="wechat"></a>
        </div>
        <span style="margin: 0 30px 0 30px;">CopyRight(C) 深圳市律师协会 版权所有 <br/>　
		技术支持：<a href="http://www.homolo.com/" target="_blank">上海同道</a>&nbsp;&nbsp;电话：400-052-9602<br/>
    	地址：深圳市深南大道4001号时代金融中心20层 邮编：518048<br/>
    	备案序号：<a href="http://www.beian.miit.gov.cn" target="_blank" style="color:#ffffff;">粤ICP备14091717号</a><br/>
    	<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44030402000057"
           style="color:#ffffff;"><img src="/static/images/cn/gongan.png">粤公网安备 44030402000057号</a>
    </span>
        <div style="display:none">
        </div>

        <div class="wechat">
            <img src="/static/images/cn/App2w.png" width="80" border="0" class="wechat">
        </div>
        <div class="clear"></div>
    </div>
</div>
</body>
</html>

